button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.fab {
    width: 70px;
    height: 70px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #555;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: white;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: all 0.1s ease-in-out;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #555;
    transform: scale(1.05);
}